body {
    place-items: center; /*aca con ""place-items: center;"" estamos ubicando la calcualdora en el centro, podemos dar una posicion-*/
   
}


input {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: antiquewhite; /*""backgroun-color"" seleccionamos el color de fondo"*/
    padding: 1.0rem; /*aca podemos ampliar el tamaño del boton */
}

button {
    padding: 1.0rem; /*aca podemos ampliar el tamaño del boton */
    width: 50px; /* aca podemos modificar el tamaño de los botones dejandolos mas anchos*/
    border-radius: 1rem;/*aca podemos transfromar los botones dando un diseño cada vez mas redondo*/

    color: darkorange; /*""color"" seleccionamos el color de las letras"*/
    background-color: aqua; /*""backgroun-color"" seleccionamos el color de fondo"*/
    font-family: Algerian; /*""font-family"" seleccionamos el tipo de letra"*/
}
#btnborrar {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color:chocolate; /*""backgroun-color"" seleccionamos el color de fondo"*/
}
#btnC {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}

#btnI {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}

#suma {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}

#resta {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}

#multiplicacion {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}

#division {
    color: black; /*""color"" seleccionamos el color de las letras"*/
    background-color: blue; /*""backgroun-color"" seleccionamos el color de fondo"*/
}
}